@page "/RegistroUsuario/{id:int}"
@using Models
@inject NavigationManager NavigationManager

<head>
    <link href="css/LoginStyle.css" rel="stylesheet" />
</head>

@if(data is null)
{
    <div class="login-card-container">
            <div class="login-card">
                <div class="login-card-header">
                    <h1>Loading</h1>
                </div>
            </div>
    </div>
}
else
{
    <div class="login-card-container">
            <div class="login-card">
                <div class="login-card-header">
                    <h1>Registro</h1>
                    <div>Datos ingresados</div>
                </div>
                <EditForm Model="@data" class="login-card-form" OnValidSubmit="HandleSubmit">
                    <div class="form-item">
                        <p id="emailForm" required> Nombre: <b>@data.Nombres</b></p>
                        <p id="passwordForm" required>Apellido paterno: <b>@data.ApellidoP</b></p>
                        <p id="emailForm" required>Apellido materno: <b>@data.ApellidoM</b></p>
                        <p id="emailForm" required>Dia de nacimiento: <b>@data.Dia</b></p>
                        <p id="emailForm" required>Mes de nacimiento: <b>@data.Mes</b></p>
                        <p id="emailForm" required>Año de nacimiento: <b>@data.Año</b></p>
                        <p id="emailForm" required>CURP: <b>@detallesU!.Curp</b></p>
                        <p id="emailForm" required>Username: <b>@user!.IdUsuario</b></p>
                    </div>
                    <p style="text-align: center;">Se envió una solicitud de registro a los gerentes</p>
                    <button type="submit">Regresar a inicio</button>
                </EditForm>
            </div>
        </div>
}

@code {
    [Parameter]
    public int? Id {get; set;}
    private DetallesUsuario? detallesU;
    private Dato? data;
    private Usuario? user;
    private void HandleSubmit()
    {
        NavigationManager.NavigateTo("/");
    }
    protected override void OnParametersSet()
    {
        if(Id is not null)
        {
            DetallesUsuario foundDetalles = BancoClient.getDetallesU(Id.Value);
            detallesU = new()
            {
                DetallesU = foundDetalles.DetallesU,
                Curp = foundDetalles.Curp
            };

            Dato foundData = BancoClient.getDato(Id.Value);
            data = new()
            {
                IdDatos = foundData.IdDatos,
                Nombres = foundData.Nombres,
                ApellidoP = foundData.ApellidoP,
                ApellidoM = foundData.ApellidoM,
                Dia = foundData.Dia,
                Mes = foundData.Mes,
                Año = foundData.Año
            };

            Usuario foundUser = BancoClient.getUsuario(Id.Value);
            user = new()
            {
                IdUsuario = foundUser.IdUsuario,
                DetallesU = foundUser.DetallesU
            };
        }
    }
}